<form [formGroup]="gameForm" (ngSubmit)="onSubmit()" #spy>
  <div><label>Spelnaam<input type="text" formControlName="gameNaam" required>
      <p *ngIf="gameForm.get('gameNaam')['errors'] && gameForm.get('gameNaam').touched">
        {{getErrorMessage(gameForm.get('gameNaam')['errors'])}}
      </p>
    </label></div>

  <div><label>Spelers Minimum<input type="number" formControlName="minSpelers" required>
      <p *ngIf="gameForm.get('minSpelers')['errors'] && gameForm.get('minSpelers').touched">
        {{getErrorMessage(gameForm.get('minSpelers')['errors'])}}
      </p>
    </label></div>
  <div><label>Spelers Maximum<input type="number" formControlName="maxSpelers" required>
      <p *ngIf="gameForm.get('maxSpelers')['errors'] && gameForm.get('maxSpelers').touched">
        {{getErrorMessage(gameForm.get('maxSpelers')['errors'])}}
      </p>
    </label></div>

  <div formArrayName="tags" *ngFor="let t of gameForm.get('tags')['controls']; let i = index">
    <div [formControlName]="i">
      <label>Tag:<input type="text"></label>
    </div>

  </div>
  <button (click)="addTag()">Nieuwe tag</button>
  <button type="submit" [disabled]="!gameForm.valid">Save</button>
</form>
REMOVE {{gameForm.value | json}}
<p>
  REMOVE {{gameForm.status}}
</p>
<p>
  REMOVE {{spy.className}}
</p>